

<section class="container">
    <div class="mb-5 col-3">
        <span class="bg-chocolate p-3 floating-shadow round-border text-cream"><a href="/dashboard">&larr;
            Return to Dashboard</a></span>
    </div>

    <form id="edit-post-form" class="col-12 bg-chocolate p-2 text-cream round-border floating-shadow">
        <div class="mb-2">
            <label for="post-title" class="d-block mb-2 mt-1">Title:</label>
            <input type="text" name="post-title" class="w-100 text-cream round-border p-2" value="{{post.title}}" />
        </div>
        <div>
            <label for="post-text" class="d-block mb-2">Content:</label>
            {{!-- <input type="textarea" name="post-text" class="w-100 round-border text-cream p-2" value="{{post.post_text}}" /> --}}
            <textarea name="post-text" class="w-100 round-border text-cream p-2" >{{post.post_text}}</textarea>
        </div>

        <div>
            <button type="click" name="save-btn" class="btn btn-cream text-chocolate w-100 my-3 round-border d-block">Save Post</button>
            <button type="button" name="delete-btn" class="btn btn-warning text-cream w-100 mb-3 round-border d-block">Delete Post</button>
        </div>
    </form>
</section>


<script src="/javascript/edit-post.js"></script>