
<div><a href="/dashboard">Return to Dashboard</a></div>
<form>
    <input type="text" name="post-title" value="{{post.title}}" />
    <input type="textarea" name="post-text" value="{{post.post_text}}" />
    <div>
        <button type="button" name="save-btn" class="btn btn-coffee">Save Post</button>
        <button type="button" name="delete-btn" class="btn btn-danger">Delete Post</button>
    </div>
</form>

<script src="/javascript/edit-post.js"></script>