<form class="w-50 bg-coffee mx-auto p-3 round-border floating-shadow text-cream">
    <div class="mb-2">
        <label for="username-sign-up" class="form-label">Username:</label>
        <input type="text" id="username-sign-up" class="form-control"/>
    </div>
    <div class="mb-4">
        <label for="password-sign-up" class="form-label">Password:</label>
        <input type="password" id="password-sign-up" class="form-control" />
    </div>
    <div class="d-flex justify-content-center mb-4">
        <button type="submit" name="sign-up-btn" class="btn btn-cream w-100 text-coffee">Sign-up</button>
    </div>
    <div class="d-flex justify-content-center">
        <p>Already have an account? <a href="/signin" class="text-butter fw-bold">Sign-in</a> instead!</p>
    </div>
</form>

{{!-- Include script for handling sign-up --}}
<script src="/javascript/sign-up.js"></script>