<form class="w-50 bg-chocolate mx-auto p-3 round-border floating-shadow text-cream" id="sign-in-form">
    <div class="mb-2">
        <label for="username-sign-in" class="form-label">Username:</label>
        <input type="text" id="username-sign-in" class="w-100 text-cream round-border p-2"/>
    </div>
    <div class="mb-4">
        <label for="password-sign-in" class="form-label">Password:</label>
        <input type="password" id="password-sign-in" class="w-100 text-cream round-border p-2" />
    </div>
    <div class="d-flex justify-content-center mb-4">
        <button type="submit" name="sign-in-btn" class="gradient-btn w-100 text-chocolate py-2 round-border">Sign-in</button>
    </div>
    <div class="d-flex justify-content-center">
        <p>Don't have an account? <a href="/signup" class="text-butter fw-bold">Sign-up</a> instead!</p>
    </div>
</form>

{{!-- Include script to check for sign-in --}}
<script src="/javascript/sign-in.js"></script>