<article>
    <h2>{{post.title}}</h2>
    <h3>Created by {{post.user.username}} on{{post.created_at}}</h3>
    <div>
        <p>
            {{post.post_text}}
        </p>
    </div>
</article>

<section>
    <form id="new-comment-form">
        <h4>Add New Comment:</h4>
        <textarea name="comment-textarea" placeholder="Type comment here..."></textarea>
        <button type="submit" name="add-btn" class="btn btn-coffee">Add Comment</button>
    </form>
</section>

<section>
    <h3>Comments</h3>
    {{>comment-info post.comments}}
</section>

<script src="/javascript/add-comment.js"></script>