
$coffee-color: #A97953;
$butter: #FED2A1;
$cream: #FEFFE7;
$coffee-color-dark: darken($coffee-color, 10%);
$neon-orange: #FF5F1F;
$chocolate: #652817;
$floating-box-shadow:
  0.045rem 0.045rem 1.8px rgba(#652817, 0.15),
  0.234rem .234rem 5px rgba(#652817, 0.25),
  0.56rem 0.56rem 12.1px rgba(#652817, 0.4),
  1.875rem 1.875rem 40px rgba(#652817, 0.3);
$theme-colors: (

);

  $custom-colors: (
    "mocha": #47362C,
    "cream": $cream,
    "coffee": $coffee-color,
    "chocolate":$chocolate,
    "butter": $butter,
    "warning": $neon-orange
);

$theme-colors: map-merge($theme-colors, $custom-colors);


@import "../../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');



*{
    font-family: 'Merienda', cursive;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color 0.2s linear
}

a:hover {
    color: $neon-orange !important;
}

nav {
    box-shadow: 0 0.2rem 20px $chocolate; 
}

.post-item {
    box-shadow: $floating-box-shadow; 
}

.post-text, .comment-text{
    background-color: transparentize($butter, 0.7);
}

.round-border{
    border-radius: 1.5rem !important; 
}

.floating-shadow{
    box-shadow: $floating-box-shadow; 
}

#new-comment-form{
    & textarea{
        height: 20rem;
        width: 20rem; 
        background-color: transparentize($butter, 0.7);
        border: 0.2rem solid $butter;

        &:focus{
            outline:none;
            border-color: $cream;
        }

        &::placeholder{
            color: $cream;
        }
    }
}

#new-post-form, #edit-post-form, #sign-up-form, #sign-in-form{
    & textarea{
        height: 15rem; 
        border-radius: 1.5rem;
        background-color: transparentize($butter, 0.7);
        border: 0.2rem solid $butter;

        &:focus{
            outline: none; 
            border-color: $cream; 
        }

        &::placeholder {
            color: $cream;
        }
    }

    & input {
        background-color: transparentize($butter, 0.7);
        border: 0.2rem solid $butter;
        &:focus {
            outline:none;
            border-color: $cream;  
        }
        &::placeholder {
            color: $cream;
        }
    }
}

#new-comment-form {
    & textarea{
        height: 5rem; 
        border-radius: 1.5rem;
        background-color: transparentize($butter, 0.7);
        border: 0.2rem solid $butter;

        &:focus{
            outline: none; 
            border-color: $cream; 
        }

        &::placeholder {
            color: $cream;
        }
    }

}

.gradient-btn {
    outline: none; 
    border: none; 
    border-radius: 0.5rem; 
    color: $chocolate; 
    background-size: 200% auto; 
    background-position: 0 0; 
    background-size: 300% 100%; 
    background-image: linear-gradient(to right, $cream, $neon-orange);
    transition: background-position 0.25s linear; 
    &:hover {
        // animation: gradient 0.5s linear forwards; 
        background-position: 100% 0;
    }
}

@keyframes gradient {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}




